
/* all styles for all graphs */

.axis {
  stroke-width: 5px;
  font-weight: bold;
  font-size: 10px;
  font-family: Courier, monospace;
}

#monthrects:hover {
  fill: rgb(0, 255, 0, 0.8)
}

.area {
  fill: lightgreen;
  stroke: green;
  stroke-width: 3px;
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}


rect.zoom {
  background-color: black;
  z-index: 2;
}

.area {
  z-index: 20;
}

.nav-item-active {
  padding-right: 20px;
}

#linechart {
  display:block !important;
  margin:auto !important;
  margin-bottom: 50px;
}

#hashtag:hover {
  opacity: 0.6;
}

#wordcloud {
  display: block;
  margin: auto;
}

.seperator-top {
  position: fixed;
  top: 56px;
}

#sep-word {
  background-color: red;
}
