.axis {
  stroke-width: 5px;
  font-weight: bold;
  font-size: 10px;
  font-family: Courier, monospace;
}

#monthrects:hover {
  fill: rgb(0, 255, 0, 0.8)
}

.area {
  fill: lightgreen;
  stroke: green;
  stroke-width: 3px;
  clip-path: url(#clip);
}

.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}


rect.zoom {
  background-color: black;
  z-index: 2;
}

.area {
  z-index: 20;
}

/* bootstrap styles */

.nav-item-active {
  padding-right: 20px;
}

#linechart {
  display:block;
  margin:auto;
  margin-bottom: 50px;
}

#hashtag:hover {
  opacity: 0.6;
}

#wordcloud {
  display: block;
  margin: auto;
}

.slider {
  position: relative;
  margin: auto;
  margin-top: 20px;
  padding-bottom: 50px;
  /* top: 40px;
  left: 40px; */
}

.slider-tray {
  position: absolute;
  width: 100%;
  height: 15px;
  border: solid 1px #ccc;
  border-top-color: #aaa;
  border-radius: 4px;
  background-color: #f0f0f0;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.08);
}

.slider-handle {
  position: absolute;
  top: 3px;
}

.slider-handle-icon {
  width: 14px;
  height: 14px;
  border: solid 1px #aaa;
  position: absolute;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  top: -3px;
  left: -7px;
}

.d3slider-rect-value {
  fill: green;
}

.d3slider-rect-range {
  fill: lightgreen;
}

.seperator-top {
  position: fixed;
  top: 56px;
}

/* .tick {
  visibility: hidden;
} */

/* #slider {
  background-color: pink;
  display: block;
  margin: auto;
  width: 100%;
  height: 50px;
  margin-top: 20px;
} */
