
/* all styles for the page */

.nav-item-active {
  padding-right: 20px;
}

.container {
  width: 100%;
  height: 500px;
  background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/fs/f5343236321073.5717a32ce906c.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: repeat;
}

h1 {
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0px;
  width: 60%;
  display: block;
  margin: auto;
  font-weight: bold;
  font-size: 50px;
  font-family: Futura, Impact;
  color: #ffe6ee;
  border-style: ridge;
  border-width: 10px;
  border-color: rgba(200, 200, 200, 0.1);
}

body {
  padding-top: 3em;
  background-image: url('https://background-tiles.com/overview/grey/textures/large/5014.png');
  background-repeat: repeat;
}

.starter-template {
  padding-top: 200px;
}

.seperator-top {
  display: block;
  width: 100%;
  height: 15px;
  background-color: black;
  position: fixed;
  top: 56px;
  z-index: 1000;
}

.seperator {
  width: 100%;
  height: 10px;
  background-color: black;
}

#logo {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 12.7px;
  left: 8.5px;
  z-index: -500;
}

#small-troll {
  width: 40px;
  height: 45px;
  position: fixed;
  top: 7px;
  left: 20px;
  opacity: 0.7;
}

#logo-box {
  width: 70px;
  height: 45px;
  background-color: rgba(40, 40, 40);
  position: fixed;
  top: 7px;
  left: 5px;
  border-style:dotted;
  border-width: medium;
  border-color: rgba(240, 240, 240, 0.1)
}

.navbar-brand {
  position: fixed;
  left: 17px;
}

#donut-chart-background {
  width: 500px;
  height: 500px;
  float: right;
  display: inline-block;
  z-index: 150;
  background-image: url("http://i.imgur.com/qn7n6Qd.png"), url('https://media3.giphy.com/media/10zI52A8mrfwNG/giphy.gif');
  background-size: cover;
  border-style: ridge;
  border-width: 15px;
  border-color: rgba(50, 50, 50, 0.5);
  margin: 50px;
  overflow: hidden;
}

#index-pic {
  width: 500px;
  height: 500px;
  float: right;
  display: inline;
  z-index: 150;
  background-image: url("https://www.corning.com/etc/designs/corning/images/global/logo-glass-bg.png"), url('https://media1.giphy.com/media/3o6ZsZYzNvZNHGf7qg/giphy.gif');
  background-size: cover;
  border-style: ridge;
  border-width: 15px;
  border-color: rgba(50, 50, 50, 0.9);
  margin: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 50px;
  overflow: hidden;
  opacity: 0.8;
}

#word-pic {
  width: 500px;
  height: 500px;
  float: right;
  display: inline;
  z-index: 150;
  background-image: url("https://www.corning.com/etc/designs/corning/images/global/logo-glass-bg.png"), url('https://media0.giphy.com/media/HOJpCsJ8sj6Lu/giphy.gif');
  background-size: cover;
  border-style: ridge;
  border-width: 15px;
  border-color: rgba(50, 50, 50, 0.9);
  margin: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-right: 100px;
  overflow: hidden;
  opacity: 0.9;
}



#donut-chart {
  float: left;
  z-index: 100;
  overflow: hidden;
}


.rep-tag {
  font-family: impact;
  font-weight: bold;
  color: red;
  display: inline;
  padding: 5px;
}

.dem-tag {
  font-family: impact;
  font-weight: bold;
  color: blue;
  display: inline;
  padding: 5px;
}


#sentiment-title {
  font-family: Impact;
  font-weight: bold;
  text-align: center;
  padding-top: 50%;
}

#word-back-button {
  color: rgba(0, 0, 0, 0.5);
  float: left;
  margin: 10px;
}

#word-next-button {
  color: rgba(0, 0, 0, 0.5);
  float: right;
  margin: 10px;
}

.fbutton {
  font-family: Impact;
  font-size: 50px;
}

.fbutton:hover {
  color: rgba(0, 0, 0, 1);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.fbutton:active {
  background-color: grey;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.container {
  height: 500px;
}

.m {
  font-size: 15px;
  font-family: Courier;
  font-weight: bold;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}

.month-buttons {
  margin: 5px;
  padding: 5px;
}

.month-buttons:hover {
  color: rgba(0, 0, 0, 1);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.month-buttons:active {
  background-color: grey;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.month-buttons-div {
  position: fixed;
  display: block;
  margin-left: 160px;
  bottom: 10px;
  opacity: 0.6;
}

.month-buttons-div:hover {
  opacity: 1;
}

#hint {
  width: 100%;
  float: left;
  margin-left: 50px;
}
